@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1rem;
}
main *{
  overflow-y: hidden;
}


.vertical-scroll {
  position: relative;
}

.Presentation, .Stage2, .Certification, .Monitoring, .Contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: space-around;
}

.divAP1 {
  height: 100vh;
  position: relative;
  display: flex;
  width: 200vw;
}

.divAP2, .divStage1, .divAP3, .divAP4, .divPortfolio {
  height: 100vh;
  width: 200vw;
  display: flex;
  position: relative;
  justify-content: space-around;
}

.h-100vh {
  height: 100vh;
}

section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: space-around;
}



/* SWIPER */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}